#pricing-area {
  background-image: url(../images/dedicated-bg.png);

  background-repeat: no-repeat;
  background-position: right bottom;
}
.team-work .price {
  background-color: white;
  box-shadow: 8px 5px 20px #ccc;
  padding: 5;
  margin: 5px 0;
  padding-top: 25px;
  border: 3px solid #fff;
  height: 560px;
}

.price:hover {
  transition: 0.2s ease;
  border: 3px solid #64cee4;
}
.price:hover .hide-btn {
  display: block;
  margin: 0px 100px;
}

.hide-btn {
  display: none;
}
.team-work .price hr {
  margin: auto;
  width: 55%;
  border: 0.2px solid #64cee4;
  border-color: linear-gradient(90deg, #0ebbdc, #1edcb6);
}
