.input-search {
  position: relative;
}

.search {
  background-image: linear-gradient(120deg, #1cd8ba, #2ebbed);
  width: 100px;
  color: white;
  margin-top: 30px;
  position: absolute;
  left: 57%;
  height: 40px;
  font-size: 10px;
}
